:root {
  --type-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --type-family-heading: "Roboto Condensed", sans-serif;
  --type-scale-base: calc(1rem + 0.2vw);
  --type-scale-1: var(--type-scale-base);
  --type-scale-2: calc(var(--type-scale-1) * 1.2);
  --type-scale-3: calc(var(--type-scale-1) * 1.5);
  --type-line-height: 1.5em;
  --type-color-main: var(--color-dark-gray);

  --color-dark-gray: rgb(51, 51, 51);
  --color-white: rgb(255, 255, 255);
  --color-indigo: rgb(63, 81, 181);
  --color-amber: rgb(255, 171, 0);
  --color-deep-orange: rgb(230, 74, 25);
  --color-cyan: rgb(0, 151, 167);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--type-family-main);
  font-size: var(--type-scale-1);
  color: var(--type-color-main);
  line-height: var(--type-line-height);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}

@media screen and (min-width: 960px) {
  .col-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.logo {
  max-width: 100%;
}

.title {
  font-family: var(--type-family-heading);
  margin: 1.5em 0 0.2em 0;
  line-height: var(--type-line-height);
}

.title.size-1 {
  font-size: var(--type-scale-3);
}

.title.size-2 {
  font-size: var(--type-scale-2);
}

.media img {
  max-width: 100%;
  border-radius: 3px;
}

p {
  margin: 0 0 1em 0;
}

.button {
  display: inline-flex;
  background-color: var(--color-deep-orange);
  padding: 0.8em 2em;
  margin: 1em 0 0.5em 0;
  border-radius: 20px;
  text-decoration: none;
  color: var(--color-white);
  transition: all 0.2s;
  justify-content: center;
  width: 100%;
}

.button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button .icon {
  width: 24px;
  margin-right: 0.5em;
}

.button-row {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 960px) {
  .button {
    width: auto;
    padding: 0.5em 2em;
    margin: 0.5em 0;
  }

  .button-row {
    margin: 1.5em 0 0 0;
    align-items: flex-start;
    flex-direction: row;
  }

  .button-row .button:first-child {
    margin-right: 1em;
  }
}

.section {
  padding: 3rem 0;
}

.section-title {
  font-family: var(--type-family-heading);
  font-size: var(--type-scale-3);
  display: inline-block;
  margin: 1em 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.gallery img {
  max-width: 100%;
  border-radius: 3px;
}

@media screen and (min-width: 960px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

section#intro {
  border-top: solid 15px var(--color-amber);
  flex: 1;
  padding: 5rem 0 3rem 0;
}

section#contact {
  padding: 3rem 0 6rem 0;
}

footer {
  background: var(--color-indigo);
  padding: 2rem 0;
  text-align: center;
  color: var(--color-white);
  font-size: calc(var(--type-scale-1) * 0.9);
  border-top: solid 20px var(--color-cyan);
}

footer p {
  margin: 0;
}

.company-details {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-gap: var(--type-scale-1);
}

.company-details p:first-of-type {
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width: 850px) {
  .company-details {
    grid-template-columns: repeat(3, auto);
  }

  .company-details p:first-of-type {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
